# Test environment
TEST_HR_CONTRACT=0xYourTestContractAddress
TEST_ETH_RPC_URL=http://127.0.0.1:8545

# Production environment
PRD_HR_CONTRACT=0xYourMainnetContractAddress
PRD_ETH_RPC_URL=https://mainnet.optimism.io